# Server
PORT=:8000

# Auth Service
OTP_ISSUER=
JWT_SECRET=
ACCESS_TOKEN_TTL=15m


# Email Service
MAILGUN_DOMAIN=
MAILGUN_API_KEY=
EMAIL_FROM=

# Database
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=secure_auth_db
DB_HOST=localhost:5432

